body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    font-family: "Raleway", sans-serif;
}

/******* NAVBAR *******/

.nav-container > div {
    padding: 10px;
    text-align: center;
}

.nav-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
}

.nav-container a {
    text-decoration: none;
    color: initial;
}

.nav-container .logo {
    margin-right: auto;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.nav-container .hamburger {
    display: none;
}

.nav-container .nav-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding-top: 4px;
}

.nav-container .nav-menu > li {
    display: inline;
    padding: 0 16px;
}

.nav-container .login button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}

.nav-container .login button:hover {
    background-color: #FFFFFF;
}

/******* HEADER *******/

header {
    display: flex;
    background:linear-gradient(rgba(0,0,0,0.28), rgba(0,0,0,0.28)), url("media/indian-woman-online-tutor-teacher-explaining-online-class-zoom-video-call-2C815XM.jpg");
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    flex-wrap: wrap;
}

header .header-h1 {
    padding-top: 6em;
    text-align: center;
    color: white;
    font-family: "Raleway", sans-serif;
    width: 100%;
    margin-bottom: 0;
}

header .header-h2 {
    text-align: center;
    color: white;
    font-family: "Raleway", sans-serif;
    margin-top: 1em;
}

header .header-button {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.8em;
    font-family: "Raleway", sans-serif;
}

header .header-button a {
    cursor: pointer;
    text-decoration: none;
    color: initial;
}

header .header-button-div {
    display:flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 8em;
}

/******* ADVANCES *******/

.advances-h {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.advances-container {
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}

.advances-container .advance-h4 {
    text-align: center;
}

.advances-container .advance {
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto 3em;
}

/******* FOOTER *******/

/******* LOGIN *******/

div.login {
    margin: 3em auto;
    width: 50%;
}

@media screen and (max-width:1100px) {
    
}

@media screen and (max-width:767px) {
    
    /******* NAVBAR *******/
    
    .nav-container {
        flex-wrap: wrap;
    }
    
    .hamburger {
        display: block;
    }
    
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }
    
    .nav-menu > li {
        width: 100%;
        text-align: center;
        padding: 10px 0px;
    }
}
